<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="board">
    <h2>영화 게시판</h2>

    <!-- 게시판 목록 -->
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일/수정일</th>
            <th>조회수</th>
            <th>좋아요 수</th>
            <th>댓글 수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}">포스트 번호</td>
            <td>
                <a th:href="@{/post/{postId}(postId=${post.id})}" th:text="${post.title}">제목</a>
            </td>
            <td th:text="${post.user.userId}">작성자 이름</td>
            <td th:text="${#temporals.format(post.createdTime, 'yyyy-MM-dd HH:mm')}">작성일</td>
            <td th:text="${post.viewCount}">조회수</td>
            <td th:text="${post.likeCount}">총 좋아요 수</td>
            <td th:text="${post.commentCount}">총 댓글 수</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
