<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- 공통 상단 영역 -->
<div th:fragment="header">
    <header>
        <div th:if="${user != null}">
            <p th:text="|${user.userId}님 환영합니다!|"></p>
            <a href="/login/logout">로그아웃</a>
        </div>
        <div th:if="${user == null}">
            <a href="/login/signup">회원가입</a>
            <a href="/login/login">로그인</a>
        </div>
    </header>
    <hr>
</div>

</body>
</html>